.btn-container {
  height: 86px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;

  @media screen and (max-width: 500px) {
    grid-column: 1 / span 6;
    padding-top: 44px;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
  }

  #goBack-btn {
    width: auto;
    position: fixed;
    top: 1em;
    left: 4em;
    z-index: 3;
    padding: 16px 22px;
    background-color: $white;
    border-radius: 6px;
    cursor: pointer;
    color: $black;
    font-family: $fontText_Bold;

    @media screen and (max-width: 500px) {
      position: relative;
      top: auto;
      left: 3%;
      padding: 16px 0;
      color: $white;
      background-color: transparent;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.6s;

      #chevronLeft {
        animation: goBackAnim 3s ease infinite;
      }
    }
  }
}

.projet-container {
  grid-column: 1 / span 12;
  margin-top: 72px;
  text-align: center;
  position: relative;

  h1 {
    font-size: 3rem;
    padding: 1em 0;
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  @media screen and (max-width: 1100px) {
    h1 {
      font-size: 3rem;
      margin: 0.6em 0;
    }

    h2 {
      font-size: 1.2rem;
      font-family: $fontText_Regular;
      text-align: center;
    }
  }

  @media screen and (max-width: 500px) {
    grid-column: 1 / span 6;
    text-align: left;
    h1 {
      font-size: 2.2rem;
      text-align: left;
      margin: 0.6em 0;
    }

    h2 {
      font-size: 1rem;
      text-align: left;
      font-family: $fontText_Regular;
    }
  }

  .procyon {
    position: absolute;
    width: 100%;
    height: auto;
    left: -80%;
    top: -30%;
    z-index: -2;
    pointer-events: none;

    @media screen and (max-width: 1340px) {
      left: -60%;
      top: 0%;
    }
  }

  .projet-container__tech-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em 0 3em 0;

    img {
      width: 36px;

      @media screen and (max-width: 00px) {
        width: 24px;
        height: auto;
      }
    }
    @media screen and (max-width: 500px) {
      padding: 1em 0;
    }
  }

  .projet-container__miniature {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin: 2em 0 0 0;
    border: 6px solid $white;

    @media screen and (max-width: 500px) {
      border: 3px solid $white;
    }
  }

  .projet-container__content {
    width: 100%;

    h3 {
      padding: 1em 0 1em 0;

      @media screen and (max-width: 1100px) {
        font-family: $fontTitle;
        font-size: 1.8rem;
      }
      @media screen and (max-width: 500px) {
        font-family: $fontTitle;
        font-size: 1.4rem;
      }
    }

    .gifPresentation {
      width: 100%;
      height: auto;
      border-radius: 6px;
      margin: 2em 0 0 0;
      border: 6px solid $white;

      @media screen and (max-width: 500px) {
        border: 3px solid $white;
      }
    }
  }
}

@keyframes goBackAnim {
  0% {
    transform: translateX(0px) translateY(2px);
  }

  40% {
    transform: translateX(-8px) translateY(2px);
  }

  60% {
    transform: translateX(-8px) translateY(2px);
  }

  100% {
    transform: translateX(-0px) translateY(2px);
  }
}
