.project-container {
  grid-column: 2 / span 10;
  @include flexColumn;
  width: 100%;
  text-align: center;
  margin: 6em 0;
  position: relative;

  @media screen and (max-width: 500px) {
    grid-column: 1 / span 6;
  }

  h2 {
    color: $white;

    @media screen and (max-width: 475px) {
      font-size: 2rem;
    }
  }

  .procyon {
    position: absolute;
    left: -80%;
    z-index: -2;
    pointer-events: none;
    width: 100%;
    height: auto;
    top: -10%;
    @media screen and (max-width: 1100px) {
      left: -70%;
      top: 0;
      height: 100%;
    }
  }

  .project-solo__container {
    width: 100%;
    height: 320px;
    position: relative;
    margin: 2em 0;
    border-radius: 6px;
    overflow: hidden;

    &:hover {
      border: 1px solid $white;
    }

    @media screen and (max-width: 500px) {
      height: 240px;
    }

    .imgBg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      max-width: 100%;
      height: auto;

      @media screen and (max-width: 1220px) {
        max-height: max-content;
        max-width: 100%;
      }

      @media screen and (max-width: 1000px) {
        max-height: 100%;
        max-width: max-content;
      }

      @media screen and (max-width: 500px) {
        max-height: none;
        max-width: none;
        left: 0;
        height: 100%;
        width: auto;
      }
    }

    .project-solo__container-text {
      height: 100%;
      display: flex;
      padding: 1em;
      align-items: flex-end;
      justify-content: space-between;
      z-index: 1;
      background: rgb(13, 13, 15);
      background: linear-gradient(
        0deg,
        rgba(13, 13, 15, 1) 0%,
        rgba(13, 13, 15, 0.48503151260504207) 46%,
        rgba(13, 13, 15, 0) 100%
      );
      color: $white;

      #plusBtn {
        color: $white;
      }
    }

    .project-solo__logo-container {
      position: absolute;
      top: 1em;
      right: 1em;
      z-index: 4;

      img {
        width: 32px;
        margin-left: 0.6em;
      }
    }
  }

  .project-container__btn-container {
    display: flex;
    align-items: center;
    gap: 1em;

    @media screen and (max-width: 475px) {
      flex-direction: column;
    }

    .btn-container-btn {
      width: 220px;
      height: 44px;
      border-radius: 6px;
      border: none;
      font-family: $fontText_Bold;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.4s;

      @media screen and (max-width: 580px) {
        width: 200px;
      }
    }

    #githubProjet {
      &:hover {
        background-color: $black;
        color: $white;
        border: 1px solid $white;
      }
    }

    #behanceProjet {
      background-color: #0057ff;
      color: white;

      &:hover {
        background-color: $black;
        border: 1px solid $white;
      }
    }
  }
}
