@font-face {
  font-family: "BergenSans";
  src: url("../public/fonts/BergenSans-Regular.otf");
}
@font-face {
  font-family: "NotoRegular";
  src: url("../public/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoLight";
  src: url("../public/fonts/NotoSans-Light.ttf");
}

@font-face {
  font-family: "NotoBold";
  src: url("../public/fonts/NotoSans-SemiBold.ttf");
}

$fontTitle: "BergenSans", sans-serif;
$fontText_Regular: "NotoRegular", sans-serif;
$fontText_Light: "NotoLight", sans-serif;
$fontText_Bold: "NotoBold", sans-serif;

$black: #121212;
$white: #d9d9d9;
$green: #5ca960;

@mixin flexRow {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

body {
  background-color: $black;
  overflow-x: hidden;

  position: relative;
  width: 100vw;
}

h1 {
  font-family: $fontTitle;
  font-size: 4.5rem;
  color: $white;

  @media screen and (max-width: 500px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
  font-family: $fontTitle;
  color: $white;
  text-align: left;

  @media screen and (max-width: 500px) {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.6rem;
  font-family: $fontTitle;
  color: $white;
}

p {
  font-size: 1rem;
  font-family: $fontText_Regular;
  color: $white;
}

a {
  text-decoration: none;
  font-family: $fontText_Regular;

  &:focus {
    outline: 2px solid $green;
  }
}

li {
  list-style: none;
  font-family: $fontText_Regular;

  &:focus {
    outline: 2px solid $green;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: 2px solid $green;
  }
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 16%;
  column-gap: 20px;
  background-color: transparent;

  @media screen and (max-width: 1200px) {
    margin: 0 8%;
  }

  @media screen and (max-width: 768px) {
    margin: 0 5%;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
  }
}
